{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mb-4">Lost & Found</h2>
                <p class="lead">Welcome to Lost & Found. We are dedicated to helping people find lost items and reunite them with their owners.</p>
                <p class="lead">Our platform allows users to post about lost items, search for lost items, and mark items as found. If you've lost something, don't worry - we're here to help you find it!</p>
            </div>
        </div>
    </div>
{% endblock %}
